//* -------------------------------------------------------------------------- */
// Adaptive display/title/heading fonts
@mixin title-text-xxl {
  font-size: $title-xxl-size;
  line-height: 1;

  @media #{$mq-md} {
    font-size: $title-3xl-size;
  }
}

@mixin title-text-xl {
  font-size: $title-lg-size;
  line-height: 1;

  @media #{$mq-md} {
    font-size: $title-xl-size;
  }
}

@mixin title-text-lg {
  font-size: $title-md-size;
  line-height: 1;

  @media #{$mq-md} {
    font-size: $title-lg-size;
  }
}

@mixin title-text-md {
  font-size: $title-sm-size;
  line-height: 1.05;

  @media #{$mq-md} {
    font-size: $title-md-size;
    line-height: 1;
  }
}
@mixin title-text-sm {
  font-size: $title-xs-size;

  @media #{$mq-md} {
    font-size: $title-sm-size;
  }
}

@mixin title-text-xs {
  font-size: $title-xxs;
  line-height: 1.05;

  @media #{$mq-md} {
    font-size: $title-xs;
  }
}


@mixin body-font {
  color: $body-text-color;
  font: $body-md-size $font-stack-base;
  line-height: $body-line-height;
}

@mixin logo-type {
  font-family: Digestive-One;
  font-size: 5rem;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;

  @media #{$mq-md} {
    font-size: 7rem;
  }
}
