# Node
node_modules/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Backup files
*.bak
*.ori
*.tmp

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim

# Sublime Text
*.sublime-workspace
sftp-config.json
GitHub.sublime-settings  # package stores token in file

# Obsidian
.trash/
**/.obsidian/plugins/
**/workspace
workspaces.json

# Personal
_notes/private/
