<header class="site-header">
  <nav class="header-nav row">
    {% include nav.html %}
  </nav>
  <div class="header-logo row">
    <span class="logo">c</span>
    <span class="logo">y</span>
    <span class="logo">b</span>
    <span class="logo">e</span>
    <span class="logo">r</span>
    <span class="logo">b</span>
    <span class="logo">e</span>
    <span class="logo">l</span>
    <span class="logo">l</span>
    <span class="logo">u</span>
    <span class="logo">m</span>
    <!-- <h1 class="logo">{{site.title}}</h1> -->
  </div>
</header>
