/* Editor mode */
.cm-s-obsidian pre.HyperMD-codeblock,
.markdown-preview-view code {
  font-family: 'Fira Code';
  font-size: : 14px;
  line-height: 1.5;
}

.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code {
  color: #CD00CD;
  background-color: none;
  border: 1px solid #222;
  border-radius: .4em;
}
