@font-face {
  font-family: 'XanhMono';
  src: url('./assets/fonts/XanhMono/XanhMono-Regular.woff2') format('woff2'),
       url('./assets/fonts/XanhMono/XanhMono-Regular.woff') format('woff'),
       url('./assets/fonts/XanhMono/XanhMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'XanhMono';
  src: url('./assets/fonts/XanhMono/XanhMono-Italic.woff2') format('woff2'),
       url('./assets/fonts/XanhMono/XanhMono-Italic.woff') format('woff'),
       url('./assets/fonts/XanhMono/XanhMono-Italic.ttf') format('truetype');
  font-style:italic;
}
