//* -------------------------------------------------------------------------- */
// Colors
$background-color: $color-sea-green;
$border-color: $color-grey;
$body-text-color: $color-black;
$logo-text-color: $color-chartreuse;
$link-color: $color-black;
$nav-color: $color-black;
$nav-color-hover: $color-chartreuse;
$link-block-background: transparent;
$link-block-background-hover: $color-teal-dark;
$link-block-text-hover: $color-white;
$blockquote-text-style: italic 3rem $font-stack-title;
$blockquote-accent: $color-chartreuse;
$footnote-color: $color-orange;

$map-text: $color-black;
$map-node: $color-chartreuse;
$map-node-active: $color-orange;
$map-line: $color-grey;

$backlink-box-color: $color-chartreuse;
$backlink-box-color-hover: $color-teal;
$backlink-text-color: darken($color-teal-dark, 5%);
$backlink-text-color-hover: $color-white;

/*// Inverse
$background-color-inverse: $color-ink-80;
$border-color-inverse: $color-white;
$body-text-color-inverse: $color-white;
$title-text-color-inverse: $color-white;
$link-color-inverse: $color-blue-10;
$link-color-hover-inverse: $color-blue-05;
*/

//* -------------------------------------------------------------------------- */
// Fonts
$body-font-family: $font-stack-base;
$title-font-family: $font-stack-title;

$border: 1px solid $border-color;

@mixin box-shadow {
  box-shadow: rgba($color-grey, 0.3) 0px 3px 5px;;
}
