//* -------------------------------------------------------------------------- */
// Colors
$background-color: $color-sea-green;
$border-color: $color-grey;
$body-text-color: $color-black;
$logo-text-color: $color-chartreuse;
$link-color: $color-black;
$nav-color: $color-black;
$nav-color-hover: $color-chartreuse;
$link-block-background: transparent;
$link-block-background-hover: $color-teal-dark;
$link-block-text-hover: $color-white;
$blockquote-border-color: $color-teal-dark;

/*// Inverse
$background-color-inverse: $color-ink-80;
$border-color-inverse: $color-white;
$body-text-color-inverse: $color-white;
$title-text-color-inverse: $color-white;
$link-color-inverse: $color-blue-10;
$link-color-hover-inverse: $color-blue-05;
*/

//* -------------------------------------------------------------------------- */
// Fonts
$body-font-family: $font-stack-base;
$title-font-family: $font-stack-title;
