/**
  * Tokens
  */
$body-md-size: 16px;
$body-xxl-size: 2.5rem;
$body-xl-size: 2rem;
$body-lg-size: 1.25rem;
$body-sm-size: .875rem;
$body-xs-size: .75rem;
$body-line-height: 1.5;
$color-black: #000;
$color-chartreuse: #e1ff32; //#d8e80c
$color-grey: #3d434a;
$color-orange: #FF7500;
$color-sea-green: #9bcba1;
/* $color-teal-dark: #006450; */
$color-teal: #00C08B;
$color-teal-dark: darken($color-teal, 10%);
$color-white: #fff;
$content-xs: 304px;
$content-sm: 432px;
$content-md: 688px;
$content-lg: 928px;
$content-xl: 1152px;
$content-max: 1440px;
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1312px;
$font-stack-base: "IBM Plex Mono", X-LocaleSpecific, monospace;
$font-stack-title: "XanhMono", X-LocaleSpecific, sans-serif;
$gradient-cool: linear-gradient(90deg, #3A8EE6, #9059FF, #C139E6);
$gradient-highlight: linear-gradient(90deg, #FFFFFF, #FFF44F);
$mq-xs: (min-width: 320px);
$mq-sm: (min-width: 480px);
$mq-md: (min-width: 768px);
$mq-lg: (min-width: 1024px);
$mq-xl: (min-width: 1312px);
$mq-short: "(max-height: 599px)";
$mq-tall: "(min-height: 600px)";
$spacing-xxl: 3rem;
$spacing-xl:  2rem;
$spacing-lg:  1.5rem;
$spacing-md:  1rem;
$spacing-sm:  .5rem;
$spacing-xs:  .25rem;
$title-3xl-size: 4.5rem;    // 64px;
$title-3xl-line-height: 1.125;
$title-xxl-size: 3.5rem;   // 56px;
$title-xxl-line-height: 1.143;
$title-xl-size: 3rem;     // 48px;
$title-xl-line-height: 1.166;
$title-lg-size: 2.5rem;   // 40px;
$title-lg-line-height: 1.1;
$title-md-size: 2rem;     // 32px;
$title-md-line-height: 1.125;
$title-sm-size: 1.5rem;   // 24px;
$title-sm-line-height: 1.166;
$title-xs-size: 1.25rem; // 20px;
$title-xs-line-height: 1.2;
