.site-header {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column-reverse;
  width: 100%;
  margin: 5px 0 0;
  border-top: $border;
  background: rgba($background-color, .8);

  @media #{$mq-md} {
    flex-flow: column;
    margin-top: 0;
  }

  .row {
    padding-right: 1rem;
    padding-left: 1rem;

    @media #{#mq-md} {
      padding-left: 2rem;
    }
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: $border;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
}

.header-logo {
  @include border-bottom;
  width: 100%;

  a {
    display: flex;
    justify-content: space-between;
    color: $logo-text-color;
    transition: color 1s ease;

    &:hover, &:active {
      color: $color-teal;
    }
  }

  .logo {
    margin-bottom: -0.0875em;
  }
}
