.site-header {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  background: rgba($background-color, .8);

  .row {
    padding-right: 1rem;
    padding-left: 1rem;

    @media #{#mq-md} {
      padding-left: 2rem;
    }
  }
}

.header-nav {
  @include border-bottom;
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;

  a:hover {
    color: $nav-color-hover;
  }

  .home {
    color: $color-chartreuse;
    font-family: Digestive-small;
  }
}

.header-logo {
  @include border-bottom;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin-bottom: -0.0875em;
  }
}
