.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0 0;
  background: rgba($background-color, .8);
}

.header-logo {
  margin-right: 3rem;

  a {
    color: $logo-text-color;
    transition: color 1s ease;

    &:hover, &:active {
      color: $color-teal;
    }
  }

  .logo {
    margin-bottom: -0.0875em;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
}


.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  li {
    padding: .75rem;
  }
}

.nav-link {
  border: $border;
  border-radius: 1rem;
  padding: .5em 1em;
  text-decoration: none;
  transition: color .2s ease, background .2s ease;

  &:hover, &:focus, &:active {
    background: $nav-bkgcolor-hover;
    color: $nav-color-hover;
  }
}


.description {
  grid-area: 1 / 1 / 1 / 5;
}
