nav {
  text-transform: uppercase;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media #{$mq-md} {
    justify-content: flex-start;
  }
}

.menu-item {
  a {
  transition: color .2s ease;
  }

  .active {
    color: $color-teal-dark;
    font-style: italic;
  }

  &:hover, &:active {
    color: $nav-color-hover;
  }

  & + .menu-item {
    margin-left: 4rem;
  }
}
