/**
  * Content wrappers
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

.wrapper {
  margin: 1rem 0 3rem;
}

.grid-wrapper {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

#graph-wrapper {
  width: 60vw;
  height: auto;
  margin: 0 auto;

  svg {
    width: 100%;
  }
}
