.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "article article article article"
    "sidebar sidebar sidebar sidebar";
  border-bottom: $border;

  @media #{$mq-md} {
    grid-template-areas:
      "article article article sidebar"
  }

  .note-wrapper {
    grid-area: article;
    border-right: $border;
  }

  .backlinks-wrapper {
    grid-area: sidebar;
  }
}

.note, .backlinks {
  padding: 1.5rem;

  @media #{$mq-md} {
    padding: 2rem 4rem;
  }
}

.note-meta {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items:center;
  margin-bottom: 2rem;

  time {
    padding: 20px;
  }

  @media #{$mq-md} {
    flex-flow: row;
    justify-content: space-between;
  }
}

.note-title {
  color: rgba($color-black, .7);
  text-transform: capitalize;
}

.note-content {
  &>p {
    margin-bottom: 2rem;
  }

  h2 {
    @include title-text-md;
    padding-top: 1.5rem;
  }

  h3, h4 {
    @include title-text-sm;
  }

  h4 {
    font-family: $font-stack-base;
  }
}
