/**
  * Blockquotes and their citations
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, width, height, margin, border, padding
  * * Other: background, color, fonts...
  */

blockquote {
  max-width: 900px;
  margin: $spacing-xxl auto;
  color: $blockquote-text-color;
  font: $blockquote-text-style;
  letter-spacing: -.03em;
  text-align: center;
  word-break: break-word;

  p {
    margin: 1.25em 0 .75em;
    line-height: 1.2;
    text-shadow: 4px 2px 2rem $color-teal;

    &:first-child {
      margin-top: 0;
    }
  }

  /* &::before, &::after {
    content: '';
    display: block;
    width: 75%;
    margin: 2rem auto;
    border-top: 1px solid $blockquote-accent;
  } */

  cite {
    padding-bottom: .7rem;
    color: $text-color;
    font: $body-sm-size $font-stack-base;
    letter-spacing: normal;
  }

  ul {
    @extend cite;
  }
}
