/**
  * Styles for headings
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em;
  font-family: $title-font-family;
  font-style: italic;
  font-weight: 400;
}

.logo {
  @include logo-type;
}

h1 {
  @include title-text-xxl;
  margin-bottom: .25em;
}

h2 {
  @include title-text-xl;
  margin-bottom: .45em;
}

h3 {
  @include title-text-lg;
}

h4 {
  @include title-text-md;

  &::before {
    content: '⸺';
  }
}

h5, h6 {
  @include title-text-sm;
  font-style: normal;
  text-transform: uppercase;
}

h6 {
  color: $color-grey;
}
